*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.game{
    width: 1400px;
    height: 700px;
    border: 1px solid black;
    margin: auto;
    background: url('tlo.png');
}
#character{
    width: 80px;
    height: 200px;
    background: url('steve.png');
    position:relative;
    top: 450px;
    left: 30px;
}
.animate{
    animation: jump 0.3s linear;
}
@keyframes jump{
    0%{top: 450px;}
    10%{top: 430px;}
    20%{top: 410px;}
    30%{top: 370px;}
    40%{top: 330px;}
    50%{top: 290px;}
    60%{top: 330px;}
    70%{top: 370px;}
    80%{top: 410px;}
    90%{top: 430px;}
    100%{top: 450px;}
}

#block{
    background: url('block.png');
    width: 60px;
    height: 60px;
    position: relative;
    top: 400px;
    left: 500px;
    animation: block 0.5s infinite linear;
}

@keyframes block{
    0%{left: 1400px}
    100%{left: -20px}
}

p{
    text-align: center;
}